<!DOCTYPE html>
<html>
  <head>
    <title>party</title>
    <link rel='stylesheet' href='/styl/style.css' />
  </head>
  <body class="alert">

    <div class="box">
      <div class="header">
        <h1>Error Connecting</h1>
      </div>
      <div class="body">
        <p>
          <b><%= error %></b>
          <br>
          <%= error_description %>
          <br>
          <br>
          <a href="/">back home</a>
        </p>
      </div>
    </div>



  </body>
</html>
