<!DOCTYPE html>
<html>
  <head>
    <title>party</title>
    <link rel='stylesheet' href='/styl/style.css' />
  </head>
  <body class="alert">

    <div class="box">
      <div class="header">
        <h1>Pool's Closed</h1>
      </div>
      <div class="body">
        <p>
          Currently only the <a href="/room/main">main</a> room is open.
          If you are interested in opening new rooms please email me at
          <b>stereosteve@gmail.com</b>
        </p>
      </div>
    </div>



  </body>
</html>
