<!DOCTYPE html>
<html>
  <head>
    <title>party</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>

    <p>party time</p>

    <a href="/channel/main">/channel/main</a>

  </body>
</html>
