<!DOCTYPE html>
<html>
  <head>
    <title>party</title>
    <link rel='stylesheet' href='/styl/style.css' />
  </head>
  <body>

    <div id="hero">
      <h1>poolparty</h1>

      <p><b>poolparty</b> is a turntable.fm clone built on SoundCloud.  Jump in!</p>

      <a href="/room/main">
        <img src="/img/connect.png">
      </a>
    </div>



  </body>
</html>
