<!DOCTYPE html>
<html>
  <head>
    <title>party</title>
    <link rel='stylesheet' href='/styl/style.css' />
  </head>
  <body ng-app="party" ng-controller="rootCtrl" ng-cloak>


    <div ng-include="'/html/topbar.html'"></div>
    <div class="rosterContainer" pp-roster></div>
    <div class="queueContainer" pp-queue></div>
    <div ng-view></div>
    <div class="playerContainer" pp-player></div>



    <!-- libs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
    <script src="//connect.soundcloud.com/sdk.js"></script>

    <script>
      SC.initialize({
        client_id: 'a363a0f2b20a24d72e93f9d02b703830',
        redirect_uri: 'http://localhost:9000/'
      });
      SC.accessToken('<%- token %>');
      window.USER = <%- JSON.stringify(user) %>;
    </script>

    <script src="/app.js"></script>

  </body>
</html>
