$primary = deeppink

*
  box-sizing: border-box;
  margin: 0;
  padding: 0;

body
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


#hero
  background: $primary
  text-align: center
  padding: 50px
  color: white
  margin: 50px 0
  border-top: 1px solid #333
  border-bottom: 1px solid #333

  h1
    color: white
    padding: 10px
    border: 5px solid white
    width: 300px
    margin: 0 auto

  p
    margin: 50px auto
    font-style: italic

.content
  max-width: 800px
  margin: 0 auto


a
  color: $primary;


img
  max-width: 100%;


.fll
  float: left
.flr
  float: right

.clickable
  cursor: pointer;


.pad
  padding: 20px;


.clear
  clear: both;



.media, .bd
  overflow:hidden;
  zoom:1;
.media .img
  float:left;
  margin-right: 10px;
.media .img img
  display:block;


.cf:before,
.cf:after
    content: " ";
    display: table;

.cf:after
    clear: both;


body.alert
  background: whitesmoke

  .box
    max-width: 600px
    margin: 50px auto
    background: white
    border: 1px solid #ccc
    box-shadow: 0 0 1px #aaa

    .header
      padding: 10px 20px
      background: #f7f7f7

    .body
      padding: 20px
    p
      line-height: 1.5


table
  border-collapse: collapse;

th, td
  padding: 5px;

th
  text-align: left;
  border-bottom: 1px solid #555;

td
  border-bottom: 1px solid #ddd;



.tabRow
  li
    display: inline-block
    padding: 10px
    background: whitesmoke
    margin: 5px 2px
    cursor: pointer

.tabBody
  padding: 20px

$chromeTop = 50px

#nowPlaying
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $chromeTop

  background: #333
  color: white
  line-height: $chromeTop
  padding: 0 10px


#menu
  position: fixed;
  top: $chromeTop;
  bottom: 0;
  left: 0;
  width: 75px;
  padding: 10px;
  background: white;
  border-right: 1px solid #ccc;


#menu a
  text-decoration: none;
  display: block;
  font-size: 25px;
  text-align: center;
  line-height: 50px;



#main
  margin-top: $chromeTop;
  margin-left: 75px;







#chat .chats
  position: fixed;
  top: $chromeTop;
  bottom: 40px;
  left: 275px;
  right: 0;
  overflow-y: auto;

#chat .chat
  padding: 4px;
  border-bottom: 1px solid #f7f7f7;

#chat form
  position: fixed;
  bottom: 0;
  left: 275px;
  right: 0;
  height: 40px;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  padding: 5px;

#chat .input
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;


.rosterContainer
  position: fixed;
  top: $chromeTop;
  left: 75px;
  bottom: 0;
  width: 200px;

  background: #f7f7f7;
  border-right: 1px solid #ccc;

.roster
  padding: 10px;

.roster .img
  width: 30px;
  height: 30px;



.playerContainer
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 100px;
  z-index: 100
  border: 1px solid #ccc


.ppPlayer
  width: 100%;
  height: 100px;
  position: relative;

  .waveform
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

  .info
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 2;
    background: rgba(0,0,0,0.8);
    color: #ccc;

  .loadHead, .playHead
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

  .loadHead
    background: #2d2d2d;

  .playHead
    background: $primary;




.userInfo
  background: whitesmoke;
  padding: 10px;
  border-bottom: 1px solid #ccc;


.userTile
  width: 100px;
  height: 120px;
  overflow: hidden;
  float: left;
  margin: 10px;
  border: 1px solid #ccc;




.ppTrack
  margin-bottom: 20px;

  .info
    line-height: 1.5

  .wave
    margin-left: 200px
    background: #333;
    height: 100px;

  .wave img
    width: 100%;
    height: 100%;
