* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  color: #ccc;
}

a {
  color: #999;
}

img {
  max-width: 100%;
}

.flr {
  float: right;
}

.clickable {
  cursor: pointer;
}

.media {
  margin-bottom: 10px;
}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}

#topbar {
  background: #2d2d2d;
  color: orange;
  border-top: 2px solid orange;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}

#main {
  position: fixed;
  top: 50px;
  left: 200px;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#chat .chats {
}
#chat .chat {
  padding: 4px;
  border-bottom: 1px solid #f7f7f7;
}
#chat form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ccc;
  padding: 5px;
}

#roster {
  background: #f7f7f7;
  border-right: 1px solid #ccc;
  padding: 10px;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 200px;
}

#roster .img {
  width: 30px;
  height: 30px;
}
