<div id="chat" ng-controller="chatCtrl">
  <!-- roster -->
  <div class="roster">
    <div ng-repeat="user in roster" class="media clickable" ng-click="showUser(user)">
      <div class="img">
        <img ng-src="{{user.avatar_url}}">
      </div>
      <div class="bd">
        {{user.username}}
      </div>
    </div>
  </div>

  <!-- chats -->
  <div class="chats">
    <div class="chat" ng-repeat="chat in chats">
      <b>{{chat.user.username}}:</b> {{chat.message}}
    </div>
  </div>

  <!-- say bar -->
  <form ng-submit="say()">
    <input class="input" type="text" ng-model="chat">
  </form>
</div>
