<div class="pad">
  <div id="player">
    <img class="waveform" ng-src="{{nowPlaying.track.waveform_url}}">
    <div class="loadHead"></div>
    <div class="playHead"></div>
    <div class="info">
      <div>
        <a ng-href="{{nowPlaying.track.permalink_url}}" target="_blank">{{nowPlaying.track.title}}</a>
      </div>
    </div>
  </div>
</div>


<div class="pad">
  <h2>Queue</h2>
  <div>
    <button ng-click="skip()">skip</button>
  </div>

  <div ng-repeat="item in queue">
    {{item.track.title}}
  </div>
</div>
