<div class="pad">
  <div id="player">
    <img class="waveform" ng-src="{{nowPlaying.track.waveform_url}}">
    <div class="loadHead"></div>
    <div class="playHead"></div>
    <div class="info">
      <div>
        <div class="flr">
          <span class="currentPos"></span>
          /
          <span>{{nowPlaying.track.duration | ms}}</span>
        </div>
        <b><a
          ng-href="{{nowPlaying.track.user.username}}"
          target="_blank"
          ng-bind="nowPlaying.track.user.username"></a></b>
        <a
          ng-href="{{nowPlaying.track.permalink_url}}"
          target="_blank"
          ng-bind="nowPlaying.track.title"></a>
      </div>
    </div>
  </div>
</div>


<div class="pad">
  <h2>Queue</h2>
  <div>
    <button ng-click="skip()">skip</button>
  </div>

  <table>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Duration</th>
      <th>Added by</th>
    </tr>
    <tr ng-repeat="item in queue">
      <td>{{item.track.title}}</td>
      <td>{{item.track.user.username}}</td>
      <td>{{item.track.duration | ms}}</td>
      <td>{{item.user.username}}</td>
    </tr>
  </table>

</div>
