<div class="ppPlayer">

  <div class="topLeft clickable" ng-click="showUser(nowPlaying.track.user)">
    <img ng-src="{{nowPlaying.track.user.avatar_url}}">
  </div>

  <div class="topRight">
    <button class="btn" ng-click="mute()" ng-hide="isMuted">mute</button>
    <button class="btn" ng-click="unmute()" ng-show="isMuted">unmute</button>

    <button class="btn" ng-click="like()" ng-show="isLiked == false">like</button>
    <button class="btn" ng-click="unlike()" ng-show="isLiked == true">unlike</button>

    <a
      class="btn"
      target="_blank"
      ng-href="{{nowPlaying.track.download_url}}?client_id={{soundcloudId}}"
      ng-show="nowPlaying.track.download_url">download</a>
  </div>

  <div class="waveform">
    <img class="mask" ng-src="{{nowPlaying.track.waveform_url}}">
    <div class="playHead"></div>
    <div class="loadHead"></div>
  </div>
  <div class="info">
    <div>
      <div class="flr">
        <span class="currentPos"></span>
        /
        <span>{{nowPlaying.track.duration | ms}}</span>
      </div>
      <b class="clickable"
        ng-click="showUser(nowPlaying.track.user)"
        ng-bind="nowPlaying.track.user.username"></b>
      <em><small>{{nowPlaying.track.title}}</small></em>
    </div>
  </div>
</div>
