<div class="userPage mainContainer">

  <div class="userInfo media">
    <div class="img">
      <img ng-src="{{user.avatar_url}}">
    </div>
    <div class="bd">
      <div class="flr">
        <button class="btn"
          ng-show="isFollowing == false"
          ng-click="follow()">Follow</button>
        <button class="btn"
          ng-show="isFollowing == true"
          ng-click="unfollow()">Unfollow</button>
      </div>
      <h2>
        <a href="{{user.permalink_url}}" target="_blank">{{user.full_name}}</a>
      </h2>
    </div>
  </div>

  <ul class="tabRow">
    <li class="flr" ng-click="scRefresh()">refresh</li>
    <li ng-click="showTab('tracks')">Tracks</li>
    <li ng-click="showTab('favorites')">Favorites</li>
    <li ng-click="showTab('followings')">Following</li>
    <li ng-click="showTab('followers')">Followers</li>
  </ul>

  <div class="tabBody" ng-show="tab == 'tracks'">
    <h3>Tracks</h3>
    <div ng-repeat="track in tracks"
         ng-click="playTrack(track)"
         pp-track></div>
  </div>


  <div class="tabBody" ng-show="tab == 'favorites'">
    <h3>Favorites</h3>
    <div ng-repeat="track in favorites"
         ng-click="playTrack(track)"
         pp-track></div>
  </div>


  <div class="tabBody cf" ng-show="tab == 'followings'">
    <h3>Followings</h3>
    <div ng-repeat="user in followings" ng-click="showUser(user)" pp-user-tile></div>
  </div>


  <div class="tabBody cf" ng-show="tab == 'followers'">
    <h3>Followers</h3>
    <div ng-repeat="user in followers" ng-click="showUser(user)" pp-user-tile></div>
  </div>


</div>
